<div align="center">
	<h1 align="center">Bienvenido a Clinica - La Familia</h1>


	<img src="/assets/logo_full.jpg" class="img-responsive" alt="Responsive image" align="center" style="max-height:400px">
	<h2>Ayudas</h2>
	<p>
		Tutoial actualizado próximamente!
	</p>
	<p>
		<a href="/clinica.pdf"> Antiguo tutorial: Aquí.</a>
	</p>
</div>
</br></br></br></br></br>