# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6598a93b6bdf6ba7fd58a1613ab5ecb64f02160297f5de8d26b4767aa26d605d22e81446674604f82f6c09a4f05d90ad30ca1e58d1d4d773f1a1848be0d48344

test:
  secret_key_base: a72524dffaef1ea43c79f7ae3c87d6026031a28483627d4918331bc0c4f1f9a5cb50b44cd0edbe8bb835d1e2e98f1cbf61bdbfab931098557db774b15ba9d987

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
